body {
  color: #edffec ;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 110%;
}

h1 {
  margin-top: 0;
  font-size: 3.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Volkhov', serif;
  font-size: 2.5rem;
  color: #194350;
}

h3 {
  font-family: 'Itim', cursive;
  color: #161d6f;
}


p {
  color: black;
font-family: 'Lusitana', serif;
font-size: 1.15rem;



}
hr {
  border: dotted #bfcba8 6px;
  border-bottom: none;
  width : 4%;
  margin: 100px,auto ;
}

a {

  color: #11999E;
  font-family: 'Cookie', cursive;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover {
  color: #EAF6F6 ;
}

.top {
  background-color: #c7ffd8;
  position: relative;
  padding-top: 150px;

}

.middle {
  margin: 100px 0;
}

.bottom {
  background-color: #66BFBF ;
  padding: 30px 0 10px;
}


  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

  }

.top-cloud {
  position: absolute;
  right: 400px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.contact-message {
  width : 30%;
  margin :auto;
  padding: 10px 20px;
}
.copyright{
  color: #EAF6F6 ;
  font-size: 0.75rem;
  padding: 20px 0;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}
.course-img {
  width: 25%;
  float :right;
  margin-right: 30px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: linear-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
